<div class="container fixed-bottom colorBody1">
  <div class="container text-center colorNavbar2">

    <!-- Que es esto??? tupe="buttmp" -->
    <button (click)="privacidad()" tupe="buttmp" class="btn btn-warning btn-sm cookies8 mt-n1">
      <u>Politica de privacidad de cookies</u>
    </button>

    <div class="row">
      <div class="col">
        <a (click)="whatsApp()" class="cursor7">
          <i class="fab fa-whatsapp mr-3 ml-3"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <i class="fab fa-facebook mr-3"></i>
        </a>
        <a href="mailto:FedeDJ@FedericaDJ.es" target="_blank">
          <i class="fas fa-envelope mr-3"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin-in mr-3"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram mr-3"></i>
        </a>
        <a href="https://www.twitter.com/" target="_blank">
          <i class="fab fa-twitter mr-3"></i>
        </a>
      </div>
    </div>

    <p class="mb-1">
      <small class="text-muted colorName3">
        copyrigth &copy;&nbsp;StartAngular ({{year}})
      </small>
    </p>
  </div>
</div>

<!-- Modal Privacidad-->
<div class="modal fade" id="privacidad" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content colorModal11">

      <!--Header-->
      <!--<div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>-->
      <div class="container backModal12">



        <!--Body-->
        <div class="modal-body text-center colorTexto10">
          <h4 class="colorName3 textUppercase mb-4">
            <u>Politica de privacidad y cookies</u>
          </h4>
          <p class="font-weight-light text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quia praesentium magni, fugit ratione
            maxime est autem repellat quas, mollitia iure quis consectetur nesciunt itaque nihil, excepturi inventore?
            Deserunt, vel.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas odio veritatis suscipit magni modi,
            similique commodi minus molestias sit, assumenda dolores. Minima numquam eligendi dolorum voluptatem quis
            cumque quam. Corporis.
          </p>
          {{modalService.privacidad}}
          
          <div class="container text-center">
            <button *ngIf="modalService.privacidad" (click)="salir()" class="btn btn-outline-warning colorName3"
              type="button">
              <i class="fas fa-check"></i>
            </button>
            <button *ngIf="!modalService.privacidad" (click)="irAlerta()" class="btn btn-outline-warning colorName3"
              type="button">
              <i class="fas fa-check"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>